.detaileditem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}

.detaileditem img {
  max-width: 400px;
  height: auto;
  margin: 50px;
}

.infowrapper {
  width: 400px;
  margin: 50px;
}

.infowrapper button {
  width: 50%;
  border: none;
  border-radius: 7px;
  margin: 10px;
  height: 30px;
  background-color: rgba(117, 210, 153, 0.66);
}

.infodetail {
  margin: 30px 0;

  font-size: 20px;
}

@media only screen and (min-width: 992px) {
  .detaileditem {
    flex-direction: row;
  }
}
