.filterbar {
  min-width: 200px;
  border-radius: 30px;
  margin: 20px;
  box-shadow: 9px 14px 16px 14px rgb(80, 67, 67, 0.17);
  position: relative;
}

.filterbar input[type="Range"] {
  margin-top: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.itemtype label,
input [type="radio"] {
  margin: 10px;
  width: 40%;
  display: inline-block;
}
