.items {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
  margin: 20px;
  padding-top: 50px;
}

.item {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 9px 14px 16px 1px rgb(80, 67, 67, 0.17);
}

.item img {
  width: 80%;
  aspect-ratio: 1/1;
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon {
  line-height: 0;
  font-size: 2em;
  vertical-align: -0.1875em;
}
.desc {
  text-align: center;
  margin: 5%;
}

.controllingbuttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controllingbuttons button {
  aspect-ratio: 1/1;
  margin: 20px;
  border-radius: 50%;
}

.controllingbuttons button i {
  margin-top: 15px;
}
