.navigationbar {
  background-color: transparent;
  width: 100%;
  height: 100px;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbuttons {
  display: flex;
  flex-direction: column;
  justify-content: right;
  float: right;
  width: auto;
}

.navbuttonshowen {
  transform: translateX(0%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in;
}

.navbuttonhidden {
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in;
}
.navbutton,
.navbuttonactive {
  padding: 10px;
  border: none;
  text-decoration: none;
  border-radius: 7px;
  height: 70px;
  width: 300px;
  font-size: 24px;
  text-align: center;
}

.navbuttonactive {
  background-color: rgba(223, 223, 186, 0.507);
}

.togglebutton {
  width: 100px;
  height: 30px;
  border: none;
  position: relative;
  left: 100px;
}

.navbutton:hover {
  padding: 10px;
  border: none;
  background-color: rgb(196, 196, 164);
}

.navimage {
  width: 15%;
  aspect-ratio: 3/1;
}

@media only screen and (min-width: 600px) {
  .togglebutton {
    display: none;
  }

  .navbuttonshowen,
  .navbuttonhidden {
    flex-direction: row;
    transform: translateX(0%);
    transition: transform 0s ease-in;
  }

  .navbutton,
  .navbuttonactive {
    width: 100px;
  }
}
