.items {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid black;
}

.item {
  display: inline-block;
  width: 350px;
  height: 450px;
  margin: 20px;
  border: 2px solid rgb(85, 70, 70);
}

.item img {
  width: 80%;
  aspect-ratio: 1/1;
  display: block;
  margin: auto;
  border: 1px solid green;
  margin-top: 20px;
}

.buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}
